<h1 class="usershow"><%= @user.name %></h1>
<p class="usershowdream">Click on picture to see more</p>

<ul>
  <% @user.posts.each do |p| %>
    <li class="carposter"><%= link_to image_tag(p.cars(:thumb)), post_path(p)%></li>

  <% end  %>

</ul>
